@font-face{
	font-family: thathuntershit;
	src: url(font/KozGoPro-Light.otf)
}
@font-face{
	font-family: thathuntershititalics;
	src: url(font/KozGoPro-Light.otf);
	font-style: italic;
}


$primary: #8700dc;
$secondary: #d3d3d3;
$font-family-sans-serif: thathuntershit;
@import "node_modules/bootstrap/scss/bootstrap";
