
$primary: #9636ca;
$secondary: #d3d3d3;

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.bg-transdark {
  background-color: rgba(36, 33, 33, 0.5);
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
@import "node_modules/bootstrap/scss/bootstrap";
