<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>{%block title%}{%endblock%} - Wurk Services</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='css/img/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ url_for('static', filename='css/img/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ url_for('static', filename='css/img/favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='css/img/favicons/site.webmanifest') }}">
  <meta name="msapplication-TileColor" content="#8007dc">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#8007dc">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {

      $("#shittohide").hide();

    });
  </script>
</head>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7132540.js"></script>
<!-- End of HubSpot Embed Code -->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/" style="font-size: 30px;">Wurk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="font-size: 25px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ContactUs" style="font-size: 25px;">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/MeetTheTeam" style="font-size: 25px;">Meet The Team</a>
        </li>
      </ul>
      <a href="http://instagram.com/wurkservices" target="_blank"><img class="img-fluid mr-3 my-2"
          src="{{ url_for('static', filename='css/svg/insta.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>
      <a href="https://www.linkedin.com/company/wurk-llc" target="_blank"><img class="img-fluid mx-3 my-2"
          src="{{ url_for('static', filename='css/svg/link.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>
      <a href="https://www.facebook.com/pg/wurkservices/posts/" target="_blank"><img class="img-fluid mx-3 my-2"
          src="{{ url_for('static', filename='css/svg/facebook.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>
      <a href="https://twitter.com/wurkservices" target="_blank"><img class="img-fluid ml-3 mr-4 my-2"
          src="{{ url_for('static', filename='css/svg/twitter.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>

      <form class="form-inline my-2" action="/login">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> Wurk Services LLC</a>
      <p href="/">Disclaimer: We do not claim to own any photos on this site</p>
    </div>
  </footer>