<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="apple-touch-icon" sizes="57x57"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='css/img/favicons/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{ url_for('static', filename='css/img/favicons/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ url_for('static', filename='css/img/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96"
    href="{{ url_for('static', filename='css/img/favicons/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ url_for('static', filename='css/img/favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      var x = 0;
      $("#panel").hide()
      $("#me").click(function () {
        x = x + 1;
        if (x > 20) {
          $("#panel").slideDown("slow");

        }
      });
    });
  </script>
</head>

<body>
  <div class="jumbotron bg-white p-3" style="margin-bottom:5px">
    <img class="img-fluid" src="{{ url_for('static', filename='css/img/WurkBan11.jpg') }}" alt="Card image cap"
      width="20%">

  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wurk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ContactUs">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/MeetTheTeam">Meet The Team</a>
        </li>
      </ul>
      <a href="http://instagram.com/wurkservices" target="_blank"><img class="img-fluid mr-3 my-2"
          src="{{ url_for('static', filename='css/svg/insta.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>
      <a href="https://www.linkedin.com/company/wurk-llc" target="_blank"><img class="img-fluid mx-3 my-2"
          src="{{ url_for('static', filename='css/svg/link.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>
      <a href="https://www.facebook.com/pg/wurkservices/posts/" target="_blank"><img class="img-fluid ml-3 mr-4 my-2"
          src="{{ url_for('static', filename='css/svg/facebook.png') }}" height="30px" width="30px"
          alt="Card image cap"></a>

      <form class="form-inline my-2 my-lg-0" action="/login">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mx-auto mb-5">
          <img class="card-img-top" src="{{ url_for('static', filename='css/img/xantheman.jpg') }}"
            alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Xander Kazanowski</h3>
            <p class="card-text">Founder and CEO</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-5">
          <img class="card-img-top" src="{{ url_for('static', filename='css/img/kyle.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Kyle Powroznyk</h3>
            <p class="card-text">Chief Strategy Officer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-5">
          <img class="card-img-top" src="{{ url_for('static', filename='css/img/miss.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Jake Meyer</h3>
            <p class="card-text">Chief Operations Officer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>