{%extends "baseWOH.html"%}
{%block content%}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img class="mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px"
                height="50px">

            <div class="card mx-auto mb-5">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center">Great! What are you booking for?
                    </h4>
                    <form action="/CreateBooking" method="POST" class="needs-validation" novalidate>
                        <div class="form-group">
                            <select class="form-control p-1" name="TOB">
                                <option value="Grocery Delivery">Grocery Delivery</option>
                                <option value="Acedemic Tutoring">Acedemic Tutoring</option>
                                <option value="Landscaping">Landscaping</option>
                                <option value="Music Lessons">Music Lessons</option>
                                <option value="ACT and SAT Prep">ACT and SAT Prep</option>
                                <option value="Sports Coaching">Sports Coaching</option>
                                <option value="Junk Removal">Junk Removal</option>
                                <option value="Pet Care">Pet Care</option>
                                <option value="House Sitting">House Sitting</option>
                                <option value="Construction">Construction</option>
                                <option value="Powerwashing">Powerwashing</option>
                                <option value="Painting/Staining">Painting/Staining</option>
                                <option value="Deck and Roof Restoration">Deck and Roof Restoration</option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-outline-primary">Next Page</button>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                // Disable form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Get the forms we want to add validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>
    <div class="col-md-4">

    </div>

    </body>
    {%endblock%}