{%extends "baseWOH.html"%}
{%block content%}

<body>
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-xl-4 col-md-2">
      </div>
      <div class="col-xl-4 col-md-8">
        <img class="mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px"
          height="50px">
        <div class="card mx-auto mb-5" style="width:500px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align:center">Congratulations {{uname}}</h4>
            <form action="/login">
              <div class="form-group text-center">
                <h5 class="card-text">Your booking is complete</h5>
                <h5 class="card-text mb-5">Your Wurk ID is: <span class="text-primary">{{BID}}</span></h5>
                <p class="card-text mb-0">Note: Booking ID is case sensitive</p>
                <p class="card-text">Please save your booking ID somewhere secure</p>
                <button class="btn btn-outline-primary" type="submit">Back to Login</button>
              </div>

            </form>
          </div>
        </div>
        <script>
          // Disable form submissions if there are invalid fields
          (function () {
            'use strict';
            window.addEventListener('load', function () {
              // Get the forms we want to add validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
      </div>
    </div>
    <div class="col-xl-4 col-md-2">

    </div>

</body>
{%endblock%}