{%extends "baseWOH.html"%}
{%block content%}
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img class="mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px"
        height="50px">

      <div class="card mx-auto mb-5">
        <div class="card-body">
          <h4 class="card-title" style="text-align:center">Hello {{uname}}, let's get a booking started</h4>
          <form action="/CreateBooking2" method="post">
            <div id="shittohide">
              <input type="text" id="uname" name="uname" value="{{uname}}"></input>
            </div>
            <div class="form-group mb-5 text-center">
              <p class="card-text">What service are you booking for?</p>
              <div class="form-group">
                <select class="form-control p-1" id="sel1" name="TOB">
                  <option value="Grocery Delivery">Grocery Delivery</option>
                  <option value="Acedemic Tutoring">Acedemic Tutoring</option>
                  <option value="Landscaping">Landscaping</option>
                  <option value="Music Lessons">Music Lessons</option>
                  <option value="ACT and SAT Prep">ACT and SAT Prep</option>
                  <option value="Sports Coaching">Sports Coaching</option>
                  <option value="Junk Removal">Junk Removal</option>
                  <option value="Pet Care">Pet Care</option>
                  <option value="House Sitting">House Sitting</option>
                  <option value="Construction">Construction</option>
                  <option value="Powerwashing">Powerwashing</option>
                  <option value="Painting/Staining">Painting/Staining</option>
                  <option value="Deck and Roof Restoration">Deck and Roof Restoration</option>
                </select>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-primary">Next</button>
            </div>
          </form>
        </div>
      </div>
      <script>
        // Disable form submissions if there are invalid fields
        (function () {
          'use strict';
          window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>
    </div>
  </div>
  <div class="col-md-4">

  </div>

  </body>
  {%endblock%}