<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class = "jumbotron bg-white p-3" style="margin-bottom:5px">
    <img class="img-fluid" src="{{ url_for('static', filename='css/img/WurkBan11.jpg') }}" alt="Card image cap" width="20%">

  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wurk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meet The Team</a>
        </li>
      </ul>
      <a href = "http://instagram.com/wurkservices"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/insta.png') }}" height="30px" width="30px" alt="Card image cap"></a>
    <a href="https://www.linkedin.com/company/wurk-llc"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/link.png') }}" height="30px" width="30px" alt="Card image cap" ></a>
      <a href = "https://www.facebook.com/pg/wurkservices/posts/"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/facebook.png') }}" height="30px" width="30px" alt="Card image cap"></a>

      <form class="form-inline my-2 my-lg-0" action="/login">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid my-5">
    <div class="row">
      <div class ="col-2">
      </div>
      <div class ="col-8 text-center">
        <h3>We do all odd jobs. Work less with Wurk today!</h3>
        <p>Wurk Services is a management company. From maintaining your property to tutoring your kids and caring for your pets, we provide a full array of services available at a moment's notice. All you need to do is book! Work does all odd jobs so you don’t have to. Our specialists come to you with competitive pricing to get your job done with utmost satisfaction. Work less with Wurk today!</p>
        <p><b>What are you waiting for? Sign up and book now!</b></p>
        <a href="/register" class="btn btn-outline-primary">Sign Up!</a>
      </div>
      <div class ="col-2">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class ="col-xl-4">
        <div class="card mx-auto" style="width:400px">
          <img class="card-img-top" src="{{ url_for('static', filename='css/img/tutor2.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Tutoring and Coaching</h4>
            <p class="card-text">
              Our team of experienced educators and instructors provides one on one lessons in a plethora of areas ranging from math and computer science to lacrosse and guitar essentials. Click below to log in and create a booking today!
            </p>
            <a href="#!" class="btn btn-outline-primary">Book Now</a>
          </div>
        </div>
      </div>
      <div class ="col-xl-4">
        <div class="card mx-auto" style="width:400px">
          <img class="card-img-top" src="{{ url_for('static', filename='css/img/leavesnshit2.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Commercial and Residential Property Management</h4>
            <p class="card-text">
              A key component of Wurk's operation is bringing skilled laborers in touch with those in need of their services. From masonary and landscaping to flooring and paving. We can help you build, maintain, and improve your property.
            </p>
            <a href="#!" class="btn btn-outline-primary">Book Now</a>
          </div>
        </div>
      </div>
      <div class ="col-xl-4">
        <div class="card mx-auto" style="width:400px">
          <img class="card-img-top" src="{{ url_for('static', filename='css/img/baby.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Home Services</h4>
            <p class="card-text">
              A doctor shouldn't have to do dishes. A lawyer shouldn't clean the foyer. Do what you do best and let us do the rest. Whether you need your responsibilites covered for a well deserved night out, or help around the house, we have people for that. We are a one stop concierges for all your daily or not so daily needs. Improve your workflow today!
            </p>
            <a href="#!" class="btn btn-outline-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
