{% extends "baseWH.html" %}
{%block content%}
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <h3>We do all odd jobs. Work less with Wurk today!</h3>
      <p>Wurk Services is a management company. From maintaining your property to tutoring your kids and caring for your
        pets, we provide a full array of services available at a moment's notice. All you need to do is book! Wurk does
        all odd jobs so you don’t have to. Our specialists come to you with competitive pricing to get your job done
        with utmost satisfaction. Work less with Wurk today!</p>
      <p><b>What are you waiting for? Select one of our services below!</b></p>

    </div>
    <div class="col-2">
    </div>
  </div>
</div>
<!--Delivery Ad-->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-xl-1">

    </div>
    <div class="col-xl-10">
      <div class="card mx-auto mb-5">
        <div class="card-body">
          <h4 class="card-title">Stuck at home? Need food or other supplies? Wurk has you covered!</h4>
          <p class="card-text">
            With Wurk home delivery, it has never been easier to get fresh food! Just pick a time, date, and the food or
            supplies you want and we will deliver them right to your door for an affordable price!
          </p>
          <a href="/services/Food Delivery/StartBooking" class="btn btn-outline-primary">Order Now</a>
        </div>
      </div>

    </div>
    <div class="col-xl-1">

    </div>

  </div>
</div>
<!--Services 1 -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/tutor2-min.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Academic Tutoring</h4>
          <a href="/services/Academic Tutoring" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/satprep-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">ACT and SAT Prep</h4>
          <a href="/services/ACT and SAT Prep" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Sport-min.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Sports Coaching</h4>
          <a href="/services/Sports Coaching" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/music-min.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Music Lessons</h4>
          <a href="/services/Music Lessons" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Services 2 -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/construction-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Construction</h4>
          <a href="/services/Construction" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/powerwash-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Powerwashing</h4>
          <a href="/services/Powerwashing" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/dogwalk-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Pet Care</h4>
          <a href="/services/Pet Care" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/homeclean2-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">House Sitting</h4>
          <a href="/services/House Sitting" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Servies 3 -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Landscapesauce-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Landscaping</h4>
          <a href="/services/Landscaping" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/leavesnshit2-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Junk Removal</h4>
          <a href="/services/Junk Removal" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/paintnshain-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Painting and Staining</h4>
          <a href="/services/Painting and Staining" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/dickrepair-min.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Deck and Roof Restoration</h4>
          <a href="/services/Desk and Roof Restoration" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-d31d0682-947a-4578-88c6-a1085d2259f1"></div>
</body>
{%endblock%}