{% extends "baseWH.html" %}
{%block title%}Meet The Team{%endblock%}
{%block content%}
<script>
  $(document).ready(function () {
    var x = 0;
    $("#panel").hide()
    $("#me").click(function () {
      x = x + 1;
      if (x > 20) {
        $("#panel").slideDown("slow");

      }
    });
  });
</script>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/xantheman.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Xander Kazanowski</h3>
          <p class="card-text">Founder and CEO</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/kyle.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Kyle Powroznyk</h3>
          <p class="card-text">Chief Strategy Officer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/miss.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Jake Meyer</h3>
          <p class="card-text">Chief Operations Officer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/hunt.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Hunter Spitzer</h3>
          <p class="card-text">Chief Marketing Officer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img id="me" class="card-img-top" src="{{ url_for('static', filename='css/img/me.png') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Angelo Nelson</h3>
          <p class="card-text">Chief Technology Officer</p>
          <div id="panel">
            <p>Hello, I am Angelo Nelson, I developed the frontend, backend, and database for this website! Im not very
              good at business so thats why I stick to the backend and let the suits do their thing. Hope you like the
              site! P.S: Hi Kayla!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/someguy.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Jack Steen</h3>
          <p class="card-text">Sales Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/looksfresh.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Per Erik Gierlach</h3>
          <p class="card-text">Executive Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/maxrobspierre.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Max Pulta</h3>
          <p class="card-text">Executive Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/stilldontknowwhothisis.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Ian Dalton</h3>
          <p class="card-text">Executive Project Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{%endblock%}