<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){

    $("#shittohide").hide();

  });
  </script>
</head>

<body>
  <div class = "jumbotron bg-white p-3" style="margin-bottom:5px">
    <img class="img-fluid" src="{{ url_for('static', filename='css/img/WurkBan11.jpg') }}" alt="Card image cap" width="20%">

  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wurk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meet The Team</a>
        </li>
      </ul>
      <a href = "http://instagram.com/wurkservices"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/insta.png') }}" height="30px" width="30px" alt="Card image cap"></a>
    <a href="https://www.linkedin.com/company/wurk-llc"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/link.png') }}" height="30px" width="30px" alt="Card image cap" ></a>
      <a href = "https://www.facebook.com/pg/wurkservices/posts/"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/facebook.png') }}" height="30px" width="30px" alt="Card image cap"></a>

      <form class="form-inline my-2 my-lg-0" action="/login">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid my-5">
    <div class="row">
      <div class ="col-md-4">

      </div>
      <div class ="col-md-4">
        <div class = "card">
          <div class="card-body">
            <h5 class="card-title" style="text-align:center">Very good! Now let's get your username and password set up!</h5>
          <form action="/register3" method = "POST" class="needs-validation" novalidate>
            <div id="shittohide">
                <input type="text" id="fname" name="fname" value = "{{fname}}"></input>
                  <input type="text" id="lname" name="lname" value = "{{lname}}"></input>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="uname" placeholder="Enter Username" name="uname" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">

              <input type="password" class="form-control" id="pword" placeholder="Enter Password" name="pword" required>
              <div class="valid-feedback">Passwords match</div>
              <div class="invalid-feedback">Passwords do not match</div>
            </div>
            <div class="form-group">

              <input type="password" class="form-control" id="cpword" placeholder="Confirm Password" name="cpword" required>
              <div class="valid-feedback">Passwords match</div>
              <div class="invalid-feedback">Passwords do not match</div>
            </div>
            <button type="submit" class="btn btn-primary">Next Page</button>
          </form>
          </div>
      </div>
        <h4></h4>
        <form action="/register3" method = "POST" id = "formss" class="needs-validation" novalidate>

        </form>
        <script>
          // Disable form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Get the forms we want to add validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
        <script>
(function() {
    setInterval(function() {
      var pass = $('#pword');
      var cpass = $('#cpword');

      if((pass.val() === "") || (cpass.val() === "")){
        pass.removeClass('is-invalid').removeClass('is-valid');
        cpass.removeClass('is-invalid').removeClass('is-valid');

    } else if (!(pass.val() === cpass.val())){
      pass.addClass('is-invalid').removeClass('is-valid');
      cpass.addClass('is-invalid').removeClass('is-valid');
    }
    else  {pass.addClass('is-valid').removeClass('is-invalid');
      cpass.addClass('is-valid').removeClass('is-invalid');}
    }, 1000);

})();

        </script>

      </div>
      <div class ="col-md-4">
        </div>
    </div>
  </div>
</body>
</html>
