{% extends "baseWH.html" %}
{%block content%}
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center">Finally, let's get to know you a bit better</h5>
          <form action="/registerComplete" method="POST" class="needs-validation" novalidate>
            <div id="shittohide">
              <input type="text" id="fname" name="fname" value="{{fname}}"></input>
              <input type="text" id="lname" name="lname" value="{{lname}}"></input>
              <input type="text" id="uname" name="uname" value="{{uname}}"></input>
              <input type="text" id="pass" name="pass" value="{{pword}}"></input>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="pnum" placeholder="Phone Number" name="pnum" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="address" placeholder="Address" name="address" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <select class="form-control" name="state">
                <option selected disabled>State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
      <h4></h4>
      <form action="/register3" method="POST" id="formss" class="needs-validation" novalidate>

      </form>
      <script>
        // Disable form submissions if there are invalid fields
        (function () {
          'use strict';
          window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>
      <script>
        (function () {
          setInterval(function () {
            var pass = $('#pword');
            var cpass = $('#cpword');

            if ((pass.val() === "") || (cpass.val() === "")) {
              pass.removeClass('is-invalid').removeClass('is-valid');
              cpass.removeClass('is-invalid').removeClass('is-valid');

            } else if (!(pass.val() === cpass.val())) {
              pass.addClass('is-invalid').removeClass('is-valid');
              cpass.addClass('is-invalid').removeClass('is-valid');
            }
            else {
              pass.addClass('is-valid').removeClass('is-invalid');
              cpass.addClass('is-valid').removeClass('is-invalid');
            }
          }, 1000);

        })();

      </script>

    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
</body>
{%endblock%}