{% extends "baseWH.html" %}
{%block content%}
<!--Delivery Ad-->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-xl-1">

        </div>
        <div class="col-xl-10">
            <div class="card mx-auto mb-5">
                <div class="card-body">
                    <h4 class="card-title">Stuck at home? Need food or other supplies? Wurk has you covered!</h4>
                    <p class="card-text">
                        With Wurk home delivery, it has never been easier to get fresh food! Just pick a time, date, and
                        the food or
                        supplies you want and we will deliver them right to your door for an affordable price!
                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Order Now</a>
                </div>
            </div>

        </div>
        <div class="col-xl-1">

        </div>

    </div>
</div>
<!--Services 1 -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/tutor2-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Academic Tutoring</h4>
                    <p class="card-text">
                        Our team of experienced educators and instructors provide one on one lessons in a plethora of
                        areas ranging
                        from math to computer science to reading. Click below to log in and create a booking today!
                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/satprep-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">ACT and SAT Prep</h4>
                    <p class="card-text">
                        Live one-on-one SAT and ACT tutoring taught by experts from top universities. Our prep sessions
                        provide
                        proven strategies for time management and score maximization. You can receive guidance from one
                        of our
                        experts today for only $39 an hour. </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/Sport-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Sports Coaching</h4>
                    <p class="card-text">
                        Recieve individual lessons in any sport from our seasoned coaches and trainers. Have your lesson
                        within just
                        a 24 hour notice of booking!
                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/music-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Music Lessons</h4>
                    <p class="card-text">
                        Want to learn an instrument or just better your current understanding of an instrument? Wurk has
                        tons of
                        veteran musicians waiting to help you achieve your dreams. Make a booking now and achieve
                        professional help
                        at an affordable price! </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Services 2 -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/construction-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Construction</h4>
                    <p class="card-text">
                        Looking to build or maintain a property? Look no further, as Wurk construction services provide
                        a full
                        spectrum of services that can create the design of your dreams! From benches to treehouses, Wurk
                        can
                        construct, maintain, or restore any residential or commercial project! </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/powerwash-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Powerwashing</h4>
                    <p class="card-text">
                        Wurk gets the gunk out! With our power washing service, no surface is safe from cleanliness!
                        Book today and
                        within 24 hours a Wurk powerwasher will be at your door, ready to clean! </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/dogwalk-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Pet Care</h4>
                    <p class="card-text">
                        Even pets get lonely some times, and that's where we come in! With Wurk pet care, we take care
                        of your
                        animals while you are out of the house! No animal is too big or small for us! Make a booking
                        today!
                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/homeclean2-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">House Sitting</h4>
                    <p class="card-text">
                        Don't want to leave the house unattended? With Wurk, you don't have to! Wurk will treat your
                        home as we
                        treat our own, cleaning, and maintaining every facet of your estate. With affordable prices and
                        highly
                        flexible scheduling, it has never been easier to take care of your property! </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Servies 3 -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/Landscapesauce-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Landscaping</h4>
                    <p class="card-text">
                        Full-service Landscaping for extremely competitive rates. Show us your lawn mowing bill and we
                        will beat it
                        by 10% guaranteed! Make a booking today!
                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/leavesnshit2-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Junk Removal</h4>
                    <p class="card-text">
                        Got junk that you don't want? Make a booking with us and we will remove it, regardless of size,
                        for a very
                        affordable rate. Make a booking and get a quote today! </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/paintnshain-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Painting and Staining</h4>
                    <p class="card-text">
                        Painting and staining may seem like a daunting task, but by hiring a Wurk professional, you can
                        guarantee
                        quality results while taking the <strong>work</strong> out of creating and restoring your ideal
                        surface.
                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mx-auto mb-5">
                <img class="card-img-top" src="{{ url_for('static', filename='css/img/dickrepair-min.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Deck and Roof Restoration</h4>
                    <p class="card-text">
                        A good deck and roof are the cornerstones of a great property. Don't let them fall into
                        disarray. With Wurk
                        Restoration services, we will turn any old deck or roof into a sight to behold!

                    </p>
                    <a href="/EnterInfo" class="btn btn-outline-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}