{% extends "baseWH.html" %}
{%block content%}
<script>
$(document).ready(function(){

  $(function(){
    var $select = $(".1-31");
    for (i=1;i<=31;i++){
      $select.append($('<option></option>').val(i).html(i))
    }
  });
});
</script>
<div class="container-fluid my-5">
  <div class="row">
    <div class ="col-md-4">
    </div>
    <div class ="col-md-4">
      <img class = "mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px" height="50px">

      <div class="card mx-auto mb-5" style="width:500px height: 500px">
        <div class="card-body">
          {%if error%}
          <div class="alert alert-danger">
            <strong>Error!</strong> Your Wurker ID is incorrect, please try again
          </div>
          {%endif%}
          {%if created%}
          <div class="alert alert-success">
            <strong>Success!</strong> Your availabllity has been updated!
          </div>
          {%endif%}
          <h4 class="card-title" style="text-align:center">Please enter your Wurker ID and availability information one day at a time</h4>
          <form action="/wurkerHandler" method="post">
            <input type="text" class="form-control my-3" id="fname" placeholder="Enter Wurker ID" name="tid" required>
            <p class="card-text">Month:</p>
            <div class="form-group">
              <select class="form-control p-1" id="sel1" name="month">
                <option value="January">January</option>
                <option value="Febuary">Febuary</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
            </div>
            <p class="card-text">Day:</p>
            <div class="form-group">
              <select class="1-31 form-control p-1" id="sel1" name="day"></select>
            </div>
            <p class="card-text">Start Time:</p>
            <div class="form-group">
              <select class="form-control p-1" id="sel1" name="st">
                <option value="24">12:00 AM</option>
                <option value="1">1:00 AM</option>
                <option value="2">2:00 AM</option>
                <option value="3">3:00 AM</option>
                <option value="4">4:00 AM</option>
                <option value="5">5:00 AM</option>
                <option value="6">6:00 AM</option>
                <option value="7">7:00 AM</option>
                <option value="8">8:00 AM</option>
                <option value="9">9:00 AM</option>
                <option value="10">10:00 AM</option>
                <option value="11">11:00 AM</option>
                <option value="12">12:00 PM</option>
                <option value="13">1:00 PM</option>
                <option value="14">2:00 PM</option>
                <option value="15">3:00 PM</option>
                <option value="16">4:00 PM</option>
                <option value="17">5:00 PM</option>
                <option value="18">6:00 PM</option>
                <option value="19">7:00 PM</option>
                <option value="20">8:00 PM</option>
                <option value="21">9:00 PM</option>
                <option value="22">10:00 PM</option>
                <option value="23">11:00 PM</option>
              </select>
            </div>
            <p class="card-text">End Time:</p>
            <div class="form-group">
              <select class="form-control p-1" id="sel1" name="et">
                <option value="24">12:00 AM</option>
                <option value="1">1:00 AM</option>
                <option value="2">2:00 AM</option>
                <option value="3">3:00 AM</option>
                <option value="4">4:00 AM</option>
                <option value="5">5:00 AM</option>
                <option value="6">6:00 AM</option>
                <option value="7">7:00 AM</option>
                <option value="8">8:00 AM</option>
                <option value="9">9:00 AM</option>
                <option value="10">10:00 AM</option>
                <option value="11">11:00 AM</option>
                <option value="12">12:00 PM</option>
                <option value="13">1:00 PM</option>
                <option value="14">2:00 PM</option>
                <option value="15">3:00 PM</option>
                <option value="16">4:00 PM</option>
                <option value="17">5:00 PM</option>
                <option value="18">6:00 PM</option>
                <option value="19">7:00 PM</option>
                <option value="20">8:00 PM</option>
                <option value="21">9:00 PM</option>
                <option value="22">10:00 PM</option>
                <option value="23">11:00 PM</option>
              </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Confirm</button>
          </form>
        </div>
      </div>
      <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
    </div>

    <div class ="col-md-4">

    </div>
  </div>
</div>
</body>
{%endblock%}
