{%extends "baseWOH.html"%}
{%block content%}

<div class="container-fluid">
    <div class="col p-3">
        <h1>Welcome to the booking list</h1>
        <h3>Here are all the bookings on the schedule</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name of Wurker</th>
                    <th scope="col">Name of Client</th>
                    <th scope="col">Service Booked</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">People on Job</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(0, len)%}
                <tr>
                    <th scope="row">{{records[i][2]}}</th>
                    <td>{{records[i][6]}}</td>
                    <td>{{records[i][3]}}</td>
                    <td>{{records[i][1] + " " + records[i][0]}}</td>
                    <td>{{records[i][5]}}</td>
                    <td>{{records[i][4]}}</td>
                </tr>


                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

</body>
{%endblock%}