<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<script>
$(document).ready(function(){
  $("#shittohide").hide();
  $("#shittohide2").hide();
});
</script>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wurk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meet The Team</a>
        </li>
      </ul>
      <a href = "http://instagram.com/wurkservices"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/insta.png') }}" height="30px" width="30px" alt="Card image cap"></a>
    <a href="https://www.linkedin.com/company/wurk-llc"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/link.png') }}" height="30px" width="30px" alt="Card image cap" ></a>
      <a href = "https://www.facebook.com/pg/wurkservices/posts/"><img class = "img-fluid mx-3" src="{{ url_for('static', filename='css/svg/facebook.png') }}" height="30px" width="30px" alt="Card image cap"></a>

      <form class="form-inline my-2 my-lg-0" action="/login">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid my-5">
    <div class="row">
      <div class ="col-md-4">
      </div>
      <div class ="col-md-4">
        <img class = "mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px" height="50px">
        {%if not fTime%}
        {%if hasMeeting and isAcedemic%}
        <div class="alert alert-success">
          You are booked for {{TOB}} with {{teacher}} on {{month}} {{day}} from {{start}} to {{end}}
        </div>
        {%elif hasMeeting%}
        <div class="alert alert-success">
          You are booked for {{TOB}} on {{month}} {{day}} starting at approximately {{start}}
        </div>
        {%else%}
        <div class="alert alert-danger">
          <strong>Error:</strong> No booking with that Wurk ID exists, please try again
        </div>
        {%endif%}
        {%endif%}
        <div class="card mx-auto mb-5" style="width:500px height: 500px">
          <div class="card-body">
            <h4 class="card-title" style="text-align:center">Welcome to the Wurk Booking Dashboard, {{uname}}</h4>
            <form action="/CreateBooking" method='post'>
              <div id="shittohide2">
                <input type="text" id="uname" name="uname" value = "{{uname}}"></input>
              </div>
              <div class="form-group mb-5 text-center">
                  <p class="card-text">To create a booking, click here!</p>
                <button type="submit" class="btn btn-outline-primary">Create Booking</button>
              </div>
            </form>
            <form action="/CheckBooking" method="post">
              <div id="shittohide">
                <input type="text" id="ftime" name="ftime" value = "{{ftime}}"></input>
            </div>
              <div class="form-group">
                {%if bErr%}
                <div class="alert alert-danger">
                  <strong>Error!</strong> No booking with that Wurk ID exists, please try again
                </div>
                {%endif%}
                <p class="card-text">Or if you already have a booking, please enter your Wurk ID to check it</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Wurk ID" id="bid" name = "bid">
                    <div class="input-group-append">
                      <button class ="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
              </div>
            </form>
            </div>
          </div>
          <script>
            // Disable form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
          </script>
        </div>
      </div>
      <div class ="col-md-4">

    </div>

  </body>
  </html>
