{%extends "baseWOH.html"%}
{%block title%}Admin{%endblock%}

{%block content%}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
<div class="container-fluid">

  <h1 class="display-1 text-center mb-3">Welcome to the Admin Page</h1>

  <div class="row">

    <div class="col">
      <div class="card mx-auto mb-5 text-center" style="min-width: 10rem;  max-width: 30rem; word-wrap: normal;">
        <h4 class="card-header">See Applicants</h4>
        <div class="card-body">
          <form action="/admin/applicants">
            <button class="btn btn-outline-success" type="submit">See Applicants</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto mb-5 text-center"style="min-width: 10rem;  max-width: 30rem; word-wrap: normal;">
        <h4 class="card-header">See TimeSheet</h4>
        <div class="card-body">
          <form action="/admin/timesheet">
            <button class="btn btn-outline-success" type="submit">See Time Sheet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  {%if popup%}
  <div class="alert alert-success">
    <strong>Success!</strong> That booking has been removed!
  </div>
  {%endif%}
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Booking ID</th>
          <th scope="col">Name of booker</th>
          <th scope="col">Type of Booking</th>
          <th scope="col">Month</th>
          <th scope="col">Day</th>
          <th scope="col">Start Time</th>
          <th scope="col">Comments</th>
          <th scope="col">Claimed?</th>
          <th scope="col">Claimed By</th>
          <th scope="col">Delete</th>

        </tr>
      </thead>
      <tbody>
        {%for i in lst%}

        <tr>
          <th scope="row">{{i[0].bookingid}}</th>
          <td data-toggle="tooltip" data-placement="top" data-html="true"
            title="<p>Phone Number: {{i[2].phonenumber}} <br></br> Email: {{i[2].email}} <br></br> Address: {{i[2].address}} {{i[2].city}} {{i[2].state}} </p>">
            {{i[2].name}}</td>
          <td>{{i[0].typeofbooking}}</td>
          <td>{{i[1].month}}</td>
          <td>{{i[1].day}}</td>
          <td>{{i[1].starttime}}</td>
          <td>{{i[0].comments}}</td>
          <td>{{i[0].claimed}}</td>
          <td>{{i[0].claimedby}}</td>
          <td>
            <form action="/deletebooking/{{i[0].bookingid}}">
              <button class="btn btn-outline-danger" type="submit">X</button>
            </form>
          </td>
        </tr>

        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

</body>
{%endblock%}
