<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Database Error!</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-4 mx-auto text-center">
            <div class="card mx-auto mb-5">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center">Error!</h4>
                    <p class="card-text">
                        Our database is currently undergoing routine manintance. Please try again in 5 minutes.
                    </p>
                    <a href="https://wurkservices.com" class="btn btn-outline-primary">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
