<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{meta}}">
  <title>{%block title%}{%endblock%} - Wurk Services</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='css/img/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='css/img/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='css/img/favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="static/css/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="static/css/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="static/css/img/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Wurk Services">
  <meta name="application-name" content="Wurk Services">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-config" content="static/css/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#8007dc">
  <meta name="google-site-verification" content="s9YUayH2rIRYX7VBbqCj8w8iuEF3Wo2-TI2Oa39pXCo" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='css/js/parallax.js') }}"></script>
  <meta property="og:title" content="Wurk Services">
  <meta property="og:description" content="Wurk Services is a management company. From maintaining your property to tutoring your kids and caring for your
pets, we provide a full array of services available at a moment's notice. All you need to do is book!">
  <meta property="og:image" content="https://www.wurkservices.com/static/css/img/wurkban.jpg">
  <meta property="og:url" content="https://www.wurkservices.com">
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168468580-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168468580-1');
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '3281360631908657');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=3281360631908657&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7132540.js"></script>
<!-- End of HubSpot Embed Code -->
<script type="text/javascript"
  data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '5531c047-e943-4ded-a630-4c625deff899', f: true }); done = true; } }; })();
</script>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><img width="50" height="50" class="d-inline-block align-top" alt=""
        src="{{ url_for('static', filename='css/img/W.png') }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/" style="font-size: 25px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/ContactUs" style="font-size: 25px;">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/MeetTheTeam" style="font-size: 25px;">Meet The Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/apply" style="font-size: 25px;">Become a Wurker</a>
        </li>
        <li class="nav-item">
          <a href="tel:+18476481764"><img class="img-fluid mx-3 my-2"
              src="{{ url_for('static', filename='css/svg/call.png') }}" height="30px" width="30px"
              alt="Card image cap"></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="http://instagram.com/wurkservices" target="_blank"><img class="img-fluid mx-3 my-2"
              src="{{ url_for('static', filename='css/svg/insta.png') }}" height="30px" width="30px"
              alt="Card image cap"></a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/company/wurk-llc" target="_blank"><img class="img-fluid mx-3 my-2"
              src="{{ url_for('static', filename='css/svg/link.png') }}" height="30px" width="30px"
              alt="Card image cap"></a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/pg/wurkservices/posts/" target="_blank"><img class="img-fluid mx-3 my-2"
              src="{{ url_for('static', filename='css/svg/facebook.png') }}" height="30px" width="30px"
              alt="Card image cap"></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/wurkservices" target="_blank"><img class="img-fluid mx-3 my-2"
              src="{{ url_for('static', filename='css/svg/twitter.png') }}" height="30px" width="30px"
              alt="Card image cap"></a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="btn btn-outline-light my-2 mx-1" href="{{ url_for('login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-light my-2 mx-1" href="{{ url_for('useraccount') }}">My Dashboard</a>
        </li>
        {%if current_user.isemployee == 1%}
        <li class="nav-item">
          <a class="btn btn-outline-light my-2 mx-1"
            href="{{url_for('wurkerprofile',wurker = current_user.username)}}">My Profile</a>
        </li>
        {%endif%}
        <li class="nav-item">
      <a class="btn btn-outline-light my-2 mx-1" href="{{ url_for('logout') }}">Logout</a>
    </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <hr class="border border-primary">

  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> Wurk Services LLC</a>
      <p>Our service areas include: South Barrington, Barrington, Lake Barrington, Barrington Hills, Schaumburg,
        Hoffman Estates,
        Algonquin, Arlington Heights, Palatine, Lake Zurich, North Barrington, Naperville, Northbrook,
        Northfield, Evanston,
        Skokie, Glenview, Elk Grove Village, Elgin, and other surrounding areas.</p>
      <p href="/">Disclaimer: We do not claim to own any photos on this site</p>
      <a href="https://www.ramiconsultinggroup.com">SEO done by Rami Consulting Group</a>


    </div>

  </footer>
