{%extends "baseWOH.html"%}
{%block title%}Booking Complete{%endblock%}
{%block content%}

<body>
  <div class="container-fluid my-5">
    <div class="row align-items-center">
      <div class="col mx-auto">
        <img class="mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px"
          height="50px">
        <div class="card mx-auto mb-5" style="width:500px;">
          <div class="card-body">
            {%if type == "applicant"%}
            <h4 class="card-title" style="text-align:center">Congratulations</h4>
            <p class="card-text">You have just applied to become a Wurker. The hiring team will contact you soon to follow up</p>
            <a href="/" class="btn btn-outline-primary">Go home</a>

            {%else%}
            <h4 class="card-title" style="text-align:center">Congratulations {{uname}}</h4>
            <form action="/login">
              <div class="form-group text-center">
                <h5 class="card-text">Thank you! Your booking is complete</h5>
                <h5 class="card-text mb-5">Your Wurk ID is: <span class="text-primary">{{BID}}</span></h5>
                <p class="card-text mb-0">Note: Your Wurk ID is case sensitive</p>
                <p class="card-text">Please save your Wurk ID somewhere secure</p>
                <p class="card-text">A member from the Wurk Services sale team will contact you soon. Please allow for
                  up to 24 hours for contact</p>
                <button class="btn btn-outline-primary" type="submit">Back to Login</button>
              </div>
            </form>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
</body>
{%endblock%}
