{%extends "baseWOH.html"%}
{%block title%}Bookings List{%endblock%}

{%block content%}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      {%if popup%}
      <div class="alert alert-success">
        <strong>Success!</strong> You claimed that booking!
      </div>
      {%endif%}
      <div class="card mx-auto mb-5 text-center">
        <div class="card-body">
          <h4 class="card-title">Welcome to the bookings list</h4>
         <p class="card-text">Here you will find all the bookings that have been created. Please claim as many as you wish to do.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="container-fluid">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Booking ID</th>
          <th scope="col">Name of booker</th>
          <th scope="col">Type of Booking</th>
          <th scope="col">Month</th>
          <th scope="col">Day</th>
          <th scope="col">Start Time</th>
          <th scope="col">Comments</th>
          <th scope="col">Claimed By</th>
          <th scope="col">Claimed?</th>
        </tr>
      </thead>
      <tbody>
        {%for i in lst%}

        <tr>
          <th scope="row">{{i[0].bookingid}}</th>
          <td data-toggle="tooltip" data-placement="top" data-html="true"
            title="<p>Phone Number: {{i[2].phonenumber}} <br></br> Email: {{i[2].email}} <br></br> Address: {{i[2].address}} {{i[2].city}} {{i[2].state}} </p>">
            {{i[2].name}}</td>
          <td>{{i[0].typeofbooking}}</td>
          <td>{{i[1].month}}</td>
          <td>{{i[1].day}}</td>
          <td>{{i[1].starttime}}</td>
          <td>{{i[0].comments}}</td>
          <td>{{i[0].claimedby}}</td>
          {%if not i[0].isclaimed%}
          <td>
            <form action="bookingslist/claim/{{i[0].bookingid}}" method="POST">
              <button class="btn btn-outline-success" type="submit">Claim</button>
            </form>
          </td>
          {%else%}
          <td>Claimed!</td>
          {%endif%}
        </tr>

        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

</body>
{%endblock%}