{% extends "baseWH.html" %}
{%block title%}Contact Us{%endblock%}
{%block content%}
<div class="container mt-5">
  <div class="row">
    <div class="col mx-auto">
      <div class="card mx-auto" style="width: 80%">
        <div class="card-body">
          <h1 class="card-title">For general inqueries</h1>
          <h4 class="card-text">Please contact us at: <a href="mailto:bookings@wurkservices.com">bookings@wurkservices.com</a></h4>
          <hr>
          <h1 class="card-title">For more specific inqueries</h1>
          <h4 class="card-text">Please call or text us at: <a href="tel:8476481764">847-648-1764</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{%endblock%}
