<body>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="card mx-auto mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Hello, Someone made a booking!</h4>
                        <p class='card-body'><strong>Name: </strong>{{name}}</p>
                        <p class='card-body'><strong>Service: </strong>{{service}}</p>
                        <p class='card-body'><strong>Date: </strong>{{month}} {{day}}</p>
                        <p class='card-body'><strong>Requested Time: </strong>{{time}}</p>
                        <p class='card-body'>{{name}}'s personal information</p>
                        <p class='card-body'><strong>Email: </strong>{{email}}</p>
                        <p class='card-body'><strong>Phonenumber: </strong>{{pnum}}</p>
                        <p class='card-body'><strong>Address: </strong>{{address}}</p>
                        <p class='card-body'><strong>Comments: </strong>{{comment}}</p>
                        <p class='card-body'>Please contact them ASAP, thank you!</p>

                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</body>