<body>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="card mx-auto mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Booking Claimed</h4>
                        <p class='card-body'>Your booking for {{service}} has been claimed by our wurker {{wurker}}</p>
                        <p class='card-body'>A member of Wurk Services sale team will contact you within 24 hours. Thank you for choosing Wurk Services for your {{service}}</p>

                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</body>