{%extends "baseWOH.html"%}
{%block title%}{{title}}{%endblock%}
{% from 'bootstrap/form.html' import render_form_row %}
{%block content%}
<script>
  jQuery(document).ready(function($) {
	$("#sumbit").on("click", function() {
        $('#upload').submit();
        $('#upload').get(0).reset();
    });
});
</script>
<div class="container my-2">
    <div class="row align-items-center">
        <div class="col">
            <img class="img-fluid" src="{{ url_for('static', filename='css/img/' + name+'.jpg') }}" alt="Profile Pic">
        </div>
        <div class="col text-center">
            <h2>{{name}}</h2>
            <p>{{bio}}</p>
            {%if myaccount%}
            <form method="POST" action="edit">
                {{render_form_row([form.bio])}}

                <button type="submit" class="btn btn-outline-primary">Edit Bio</button>
            </form>
            {%endif%}
        </div>
        {%if myaccount%}
        <div class="col">
            <form method="POST" action="posthandler" enctype="multipart/form-data">
                {{render_form_row([form.title])}}
                {{render_form_row([form.description])}}
                <button type="submit" id = 'sumbit' class="btn btn-outline-primary">Upload</button>
            </form>
        </div>
        {%endif%}
    </div>
</div>
<hr class="border border-primary">

<div class="container-fluid my-2">
    <div class="row align-items-center">

        {% for file in lst%}
        <div class="col">
            {%if file.pic == ''%}
            <h2 class="lead">{{file.title}}</h2>
            <p>{{file.desc}}</p>
            {%else%}
            <figure class="figure">
                <img src="{{ url_for('static', filename='css/img/' + username +'/'+ file.pic) }}"
                    class="figure-img img-fluid rounded"
                    alt="Blog Post" style="width: 400px;">
                <figcaption class="figure-caption">{{file.desc}}</figcaption>
            </figure>
            {%endif%}
            {%if myaccount%}
            <form action="delete/{{file.id}}">
                <button class="btn btn-outline-danger" type="submit">X</button>
            </form>
            {%endif%}
        </div>
        {%endfor%}

    </div>
</div>
{%endblock%}