{% extends "baseWH.html" %}
{%block title%}Home{%endblock%}
{%block content%}


<div class="container-fluid">
  <div class="row">
    <div class="col p-0 text-white">
      <div class="parallax-window text-center m-0 d-flex flex-column justify-content-center" data-parallax="scroll"
        data-image-src="{{ url_for('static', filename='css/img/paralax.jpg') }}" alt='Landscaping'>
        <span class="bg-transdark p-3 my-5">
          <h1>Wurk Services</h1>

          <h2>We do all odd jobs. Work less with Wurk today!</h2>
          <h3>Wurk Services is a management company. From maintaining your property to tutoring your kids and caring for
            your
            pets, we provide a full array of services available at a moment's notice. All you need to do is book! Wurk
            does
            all odd jobs so you don’t have to. Our specialists come to you with competitive pricing to get your job done
            with utmost satisfaction. Work less with Wurk today!</h3>
          <p><b>What are you waiting for? Select one of our services below!</b></p>
          <a class="btn btn-outline-light" href="/login">Or if you already have an account, sign in!</a>
        </span>
      </div>
    </div>
  </div>
</div>
<!--Delivery Ad-->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-1">

    </div>
    
    <div class="col-lg-1">

    </div>

  </div>
</div>
<!--Services 1 -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Landscapesauce-min.jpg') }}"
          alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Lawn Care</h4>
          <a href="/landscaping" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/leavesnshit2-min.jpg') }}"
          alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Junk Removal</h4>
          <a href="/services/Junk-Removal-Services-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/powerwash-min.jpg') }}" alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Powerwashing</h4>
          <a href="/services/Powerwashing-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/paintnshain-min.jpg') }}"
          alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Painting and Staining</h4>
          <a href="/services/Painting-and-Staining-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Services 2 -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/construction-min.jpg') }}"
          alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Construction</h4>
          <a href="/services/Construction-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/dickrepair-min.jpg') }}"
          alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Deck and Roof Restoration</h4>
          <a href="/services/Deck-and-Roof-Restoration-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/dogwalk-min.jpg') }}" alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Pet Services</h4>
          <a href="/services/Pet-Services-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/homeclean2-min.jpg') }}"
          alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">House Sitting</h4>
          <a href="/services/House-Sitting-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Servies 3 -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/tutor2-min.jpg') }}" alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Academic Tutoring</h4>
          <a href="/services/Academic-Tutoring-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/satprep-min.jpg') }}" alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">ACT and SAT Prep</h4>
          <a href="/services/ACT-and-SAT-Prep-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Sport-min.jpg') }}" alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Sports Coaching</h4>
          <a href="/services/Sports-Coaching-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/music-min.jpg') }}" alt="Landscaping">
        <div class="card-body">
          <h4 class="card-title">Music Lessons</h4>
          <a href="/services/Music-Lessons-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- Services 4-->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/cardetail.jpg') }}" alt="Car Detailing">
        <div class="card-body">
          <h4 class="card-title">Car Detailing</h4>
          <a href="/services/Car-Detailing-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Passistant.jpg') }}" alt="Personal Assistant">
        <div class="card-body">
          <h4 class="card-title">Personal Assistant</h4>
          <a href="/services/Personal Assistant/StartBooking" class="btn btn-outline-primary stretched-link">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/nanny.jpg') }}" alt="Nanny">
        <div class="card-body">
          <h4 class="card-title">Nanny Services</h4>
          <a href="/nanny-services-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mx-auto mb-5">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/electric.jpg') }}" alt="electrician">
        <div class="card-body">
          <h4 class="card-title">Electrian Services</h4>
          <a href="/services/Electrician-Services-barrington-il" class="btn btn-outline-primary stretched-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{%endblock%}

