{% extends "baseWH.html" %}
{%block title%}Home{%endblock%}
{%block content%}
<style>
  .parallax {
    /* The image used */
    background-image: url("{{url_for('static', filename='/css/img/paralax.jpg')}}");
  
    /* Set a specific height */
    height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
<div class="container-fluid">
  <div class="row border border-primary">
    <div class="col p-0 text-white">
      <div class="parallax-window text-center m-0 d-flex flex-column justify-content-center" data-parallax="scroll" data-image-src="static/css/img/paralax.jpg" alt='Landscaping'>
        <span class="bg-transdark p-3 my-5">
          <h1>Wurk Services</h1>
          <h2>We do all odd jobs. Work less with Wurk today!</h2>
          <h3>Wurk Services is a management company. From maintaining your property to tutoring your kids and caring for
            your
            pets, we provide a full array of services available at a moment's notice. All you need to do is book! Wurk
            does
            all odd jobs so you don’t have to. Our specialists come to you with competitive pricing to get your job done
            with utmost satisfaction. Work less with Wurk today!</h3>
          <p><b>What are you waiting for? Select one of our services below!</b></p>
          <a class="btn btn-outline-light" href="/login">Or if you already have an account, sign in!</a>
        </span>
      </div>
    </div>
  </div>
</div>
<!--Services Loop -->
<div class="container-fluid overflow-hidden bg-primary text-light">
  <div class="row my-5 mx-5">
    <h2>{{types[0]}}</h2>
    <div class="card-deck" data-aos="fade-right" data-aos-duration="1000"> 
      {%for k in listofservices%}
      {%if "break" in k%}
    </div>
  </div>
  <div class="row my-5 mx-5 ">
    {%if not "breaknotitle" in k%}
    {%set k = k[-1]%}
    <h2>{{types[k|int]}}</h2>
    {%endif%}
    <div data-aos="fade-right" data-aos-duration="1000" class="card-deck">
      {%else%}
      <div class="card text-dark shadow shadow-lg border border-primary">
        <img class="card-img-top border border-primary" src="{{ url_for('static', filename='css/img/' + k + '.jpg') }}" alt="{{k}}">
        <div class="card-body">
          <h5 class="card-title">{{k}}</h5>
          {%set k = k.replace(" ", "-")%}
          {%if k == 'Lawn-Care'%}
          <a href="/landscaping" class="btn btn-outline-primary stretched-link text-center">Learn More</a>
          {%elif k == 'Tutoring'%}
          <a href="/tutoring" class="btn btn-outline-primary stretched-link text-center">Learn More</a>
          {%else%}
          <a href="/services/{{k}}-barrington-il" class="btn btn-outline-primary stretched-link text-center">Learn More</a>
          {%endif%}
        </div>      
      </div>
      {%endif%}
      {%endfor%}
    </div>
  </div>
</div>
</body>
{%endblock%}