<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Wurk Services</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: var(--bs-purple);color: var(--bs-white);">
        <div class="container"><a class="navbar-brand" href="#">Wurk Services</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="color: rgb(255,255,255);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="filter: brightness(0%) contrast(200%) grayscale(0%) invert(100%) saturate(200%) sepia(0%);"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-white);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ContactUs" style="color: var(--bs-white);">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/apply" style="color: var(--bs-white);">Become A Wurker</a></li>
                    <li class="nav-item"><a class="nav-link" href="/payment" style="color: var(--bs-white);">Make a Payment</a></li>
                </ul>
                <span class="navbar-text actions"> 
                    {% if current_user.is_anonymous %}

                    <a class="btn btn-light" role="button" href="/login" style="background: var(--bs-purple);color: var(--bs-white);">Log In</a>
            
                    {% else %}
            
                    <a class="btn btn-light" role="button" href="{{ url_for('useraccount') }}" style="background: var(--bs-purple);color: var(--bs-white);">Dashboard</a>
            
                    {%if current_user.isemployee == 1%}
            
                    <a class="btn btn-light" role="button" href="{{url_for('wurkerprofile',wurker = current_user.username)}}" style="background: var(--bs-purple);color: var(--bs-white);">Profile</a>
            
                    {%endif%}
            
                    <a class="btn btn-light" role="button" href="{{url_for('logout')}}" style="background: var(--bs-purple);color: var(--bs-white);">Logout</a>
            
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <section class="highlight-phone" style="background: var(--bs-white);">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Wurk Services</h2>
                        <p class="m-0">Anyone you need</p>
                        <script async src="https://cse.google.com/cse.js?cx=eb9298b31cbdafa2b"></script>
                        <div class="gcse-search"></div> 
                        <p>Right at your fingertips</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center d-none d-md-block"><img src="static/assets/img/Wurk2.png" style="width: 227px;"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="d-none d-md-block phone-mockup" style="margin: 10px;"><img class="rounded-circle device" src="static/assets/img/Lawn%20Care.jpg"></div>
                </div>
                <div class="col-md-8">
                    <div style="text-align: right;">
                        <h2>Meet Our Wurkers</h2>
                        <p>We have tons of Wurkers ready to take on any task! Nothing is too small for our Wurkers!</p><a class="btn btn-primary" role="button" href="/wurkers" style="background: var(--bs-purple);">Take a Look</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="highlight-phone" style="background: var(--bs-white);">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Need to pay?</h2>
                        <p class="m-0">Make a Payment Now!</p>
                        <a class="btn btn-primary mt-4" role="button" href="/payment" style="background: var(--bs-purple);">Click Here!</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center d-none d-md-block"><img src="static/css/img/money.png" style="width: 300px;"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                        <h2>Check out what we offer!</h2>
                        <p>Wurk Services offers Wurkers for any task!</p>
                </div>
            </div>
            <div class="row row-cols-2">
                {%for i in services%}
                {%if not "break" in i%}
                <div class="col">
                    <div class="card">
                      <img class="card-img-top" src="{{ url_for('static', filename='css/img/' + i + '.jpg') }}" alt="{{i}}">
                      <div class="card-body">
                        <p class="card-title">{{i}}</p>
                      </div>
                      <div class="card-footer">
                          <small class="text-muted">
                            {%if i == "Lawn Care"%}
                            <a href="/landscaping" class="btn btn-outline-primary stretched-link text-center">Learn More</a>
                            {%elif i == "Tutoring"%}
                            <a href="/tutoring" class="btn btn-outline-primary stretched-link text-center">Learn More</a>
                            {%else%}
                            <a href="/services/{{i}}-barrington-il" class="btn btn-outline-primary stretched-link text-center">Learn More</a>
                            {%endif%}
                          </small>
                        </div>
                    </div>
                  </div>
                  {%endif%}
                {%endfor%}
            </div>
        </div>
    </section>
    <div class="container-fluid">
    <footer class="footer-clean" style="background: var(--bs-purple);color: var(--bs-white);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li>Home</li>
                        <li><a href="#">Property</a></li>
                        <li><a href="#">Personal</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Wurk Services © 2022</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
</body>

</html>