{% extends "baseWH.html" %}
{%block title%}Meet The Team{%endblock%}
{%block content%}
<script>
  $(document).ready(function () {
    var x = 0;
    $("#panel").hide()
    $("#me").click(function () {
      x = x + 1;
      if (x > 20) {
        $("#panel").slideDown("slow");

      }
    });
  });
</script>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Xander Kazanowski.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Xander Kazanowski</h3>
          <p class="card-text">Founder and CEO</p>
          <a href="/xkazanowski/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Archal Rami.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Archal Rami</h3>
          <p class="card-text">Cheif Strategy Officer</p>
          <a href="/arami/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img id="me" class="card-img-top" src="{{ url_for('static', filename='css/img/Angelo Nelson.png') }}"
          alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Angelo Nelson</h3>
          <p class="card-text">Chief Technology Officer</p>
          <a href="/anelson/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Hunter Spitzer.jpg') }}"
          alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Hunter Spitzer</h3>
          <p class="card-text">Chief Marketing Officer</p>
          <a href="/hspitzer/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Brandon Kane.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Brandon Kane</h3>
          <p class="card-text">Chief Operational Officer</p>
          <a href="/bkane/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>

    </div>
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Dom Oetinger.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Dom Oetinger</h3>
          <p class="card-text">Chief Information Officer</p>
          <a href="/doetinger/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-4">
      <div class="card mx-auto mb-5" style="width: 80%">
        <img class="card-img-top" src="{{ url_for('static', filename='css/img/Will Matheney.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Will Matheney</h3>
          <p class="card-text">Director Of Pet Services</p>
          <a href="/wmatheny/profile" class="btn btn-primary stretched-link">Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{%endblock%}
