{% extends "baseWH.html" %}
{%block title%}Register{%endblock%}
{% from 'bootstrap/form.html' import render_form_row %}
{%block content%}
<div class="container-fluid my-5">
  <div class="row align-items-center">
    <div class="col-md-8 col-lg-6 col-xl-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center">Almost There! Just some personal information now!</h5>
          <form action="/register3Handler" method="POST">
            {{ render_form_row([form.email]) }}
              {{render_form_row([form.phonenumber])}}
              {{ render_form_row([form.address]) }}
              {{render_form_row([form.city])}}
              {{render_form_row([form.state])}}
              {{ render_form_row([form.nextbutton], button_style='outline-primary', row_class = 'text-center') }}
          </form>
        </div>
      </div>
  </div>
</div>
</body>
{%endblock%}