{%extends "baseWOH.html"%}
{%block title%}Create a Booking{%endblock%}
{% from 'bootstrap/form.html' import render_form_row %}

{%block content%}
<div class="container-fluid my-5">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8 col-xl-8 mx-auto">
            <img class="mb-5 mx-auto d-block" src="{{ url_for('static', filename='css/img/Wurk2.png') }}" width="50px"
                height="50px">
            <div class="card mx-auto mb-5">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">What sport would you like coached?</h5>
                    <form action='/services/Sports Coaching/StartBooking' , method="POST">
                        {{render_form_row([form.sportsoffered])}}
                        {{ render_form_row([form.nextbutton], button_style='outline-primary', row_class = 'text-center') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
    {%endblock%}