{%extends "baseWOH.html"%}
{%block content%}

<div class="container-fluid">
    <div class="col p-3">
        <h1>Welcome to the booking list</h1>
        <h3>Here are all the bookings on the schedule</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name of Wurker</th>
                    <th scope="col">Name of Client</th>
                    <th scope="col">Service Booked</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">People on Job</th>
                </tr>
            </thead>
            <tbody>
                {%for i in lst%}
                <tr>
                    <th scope="row">{{i.name}}</th>
                    <td>{{i.clientname}}</td>
                    <td>{{i.jobtype}}</td>
                    <td>{{i.month + " " + i.day}}</td>
                    <td>{{i.time}}</td>
                    <td>{{i.peopleonjob}}</td>
                </tr>


                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

</body>
{%endblock%}