{%extends "baseWOH.html"%}
{% from 'bootstrap/form.html' import render_form_row %}
{%block content%}

<body>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-5 mx-auto my-5">

                {%if popup%}
                <div class="alert alert-success">
                    {{name}}, you are booked for {{month}} {{day}}
                </div>
                {%endif%}
                {%if err%}
                <div class="alert alert-danger">
                    <strong>Error! </strong>No Wurker with that WID found
                </div>
                {%endif%}
                <div class="card mx-auto mb-5 fadein">
                    <div class="card-body shadow-lg">
                        <h1 class="card-title">Hello {{user}}</h1>
                        <p class="card-text">Please enter the days you are already booked for</p>
                        <form action="/wurkerhandler" method="POST">
                            {{render_form_row([form.clientName])}}
                            {{render_form_row([form.JobType])}}
                            {{render_form_row([form.day])}}
                            {{render_form_row([form.time])}}
                            {{render_form_row([form.POTJ])}}
                            {{ render_form_row([form.submit], button_style='outline-primary', row_class = 'text-center') }}
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-5 my-5 mx-auto">
                {%if justclockedin%}
                <div class="alert alert-success">
                    You have clocked in!
                </div>
                {%endif%}
                {%if justclockedout%}
                <div class="alert alert-success">
                    You have clocked out!
                </div>
                {%endif%}
                <div class="card mb-5 fadein">
                    <div class="card-body shadow-lg">
                        <h1 class="card-title">Keep track of your hours</h1>
                        {%if not clockedin%}
                        <p class="card-text">You are currently not clocked in, please enter the type of job you are working on then press clock in</p>

                        <form action="/clockin" method="POST">
                            <div class="form-group">
                                {{render_form_row([form.JobType])}}
                                <button class="btn btn-outline-success" type="submit">Clock In</button>
                            </div>
                        </form>
                        {%else%}
                        <p class="card-text">You are currently clocked in</p>
                        <p class="card-text">You started this job on {{time[:10]}} at {{time[11::]}}</p>
                        <form action="/clockout">
                            <div class="form-group">
                                <button class="btn btn-outline-danger" type="submit">Clock Out</button>
                            </div>
                        </form>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-3">
                {%if popupremove%}
                <div class="alert alert-success">
                    <strong>Success!</strong> Booking was successfully removed
                </div>
                {%endif%}
                {%if error == True%}
                <div class="alert alert-danger">
                    <strong>Error!</strong> I'll keep it real with you chief, not sure what went wrong. Try again later
                </div>
                {%endif%}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h1>Booking List</h1>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name of Wurker</th>
                                    <th scope="col">Name of Client</th>
                                    <th scope="col">Service Booked</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">People on Job</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for i in lst%}
                                <tr>
                                    <th scope="row">{{i.name}}</th>
                                    <td>{{i.clientname}}</td>
                                    <td>{{i.jobtype}}</td>
                                    <td>{{i.month + " " + i.day}}</td>
                                    <td>{{i.time}}</td>
                                    <td>{{i.peopleonjob}}</td>
                                    <td>
                                        <form action="/deletebookedday/{{i.id}}">
                                            <button class="btn btn-outline-danger" type="submit">X</button>
                                        </form>
                                    </td>
                                </tr>


                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{%endblock%}