<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Wurkers - Wurk Services</title>
    <link rel="stylesheet" href="static/assetsbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="static/assetsfonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assetsfonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assetscss/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: var(--bs-purple);color: var(--bs-white);">
        <div class="container"><a class="navbar-brand" href="#">Wurk Services</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="color: rgb(255,255,255);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="filter: brightness(0%) contrast(200%) grayscale(0%) invert(100%) saturate(200%) sepia(0%);"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: var(--bs-white);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: var(--bs-white);">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: var(--bs-white);">Contact Us</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#" style="color: var(--bs-body-bg);">Log In</a><a class="btn btn-light" role="button" href="#" style="background: var(--bs-purple);color: var(--bs-white);">Sign Up</a></span>
            </div>
        </div>
    </nav>
    <section class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Our Wurkers</h2>
                        <p>Wurk Services only employs the highest quality and most professional cleaners, power washers, electricians and more! Scroll down to view some of our best Wurkers.&nbsp;</p><a class="btn btn-primary" role="button" href="#" style="background: var(--bs-purple);">Take a look</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block phone-mockup"><img class="rounded-circle" src="static/assetsimg/Lawn%20Care.jpg" style="width: 300px;"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-blue" style="background: linear-gradient(-38deg, var(--bs-indigo), var(--bs-purple) 100%);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">We Love To Wurk</h2>
                <p class="text-center">But we always Wurk by a set of rules</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">No where is too far for us</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">Any time you need us, we are there</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">Wurk the way best for you</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">Organic</h3>
                    <p class="description">We always Wurk for the enviornment</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Fast</h3>
                    <p class="description">You are busy, so we get the job done both fast and well</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">On standby</h3>
                    <p class="description">We are always contactable by phone</p>
                </div>
            </div>
        </div>
    </section>
    <section class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Wurkers</h2>
                <p class="text-center">Here are three of our best Wurkers</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="static/assetsimg/360_F_219633151_BW6TD8D1EA9OqZu4JgdmeJGg4JBaiAHj.jpg">
                        <h3 class="name">Wurker 1</h3>
                        <p class="title">{{job}}</p>
                        <p class="description">{{bio}}</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="static/assetsimg/360_F_219633151_BW6TD8D1EA9OqZu4JgdmeJGg4JBaiAHj.jpg">
                        <h3 class="name">Wurker 2</h3>
                        <p class="title">{{job}}</p>
                        <p class="description">{{bio}}</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="static/assetsimg/360_F_219633151_BW6TD8D1EA9OqZu4JgdmeJGg4JBaiAHj.jpg">
                        <h3 class="name">Wurker 3</h3>
                        <p class="title">{{job}}</p>
                        <p class="description">{{bio}}</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">That's not all</h2>
                <p class="text-center">There are many more Wurkers that fit exactly what you need.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#" style="background: var(--bs-purple);">Search now!</a></div>
        </div>
    </section>
    <footer class="footer-clean" style="background: var(--bs-purple);color: var(--bs-white);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li>Home</li>
                        <li><a href="#">Property</a></li>
                        <li><a href="#">Personal</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Wurk Services © 2022</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assetsbootstrap/js/bootstrap.min.js"></script>
</body>

</html>